#scrolly-overlay {
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    article {
        position: relative;
        padding: 0;
        margin: 0 auto;
    }

    figure {
        position: fixed;
        top: 0px;
        height: 100%;
        width: 100%;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        z-index: -2;
        opacity: 0;
    }

    figure p {
        text-align: center;
        padding: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 8rem;
        font-weight: 900;
        color: #fff;
    }

    .step {
        max-width: 400px;
        padding-bottom: 90vh;

        >div {
            text-align: justify;
            margin-inline: auto;
            background-color: white;
            border-style: solid;
            border-color: lightslategray;
            border-width: 1px;
            padding: 0.5cm;
        }
    }

    .step:last-child {
        margin-bottom: 0;
    }

    .step.is-active p {
        background-color: goldenrod;
        color: #3b3b3b;
    }

    .step h1,
    h2 {
        margin: 0.4cm;
        text-align: center;
    }
}